html {
  height: 100%;
}

body {
  background-color: #191c22;
  height: 100%;
  color: #ddd;
}

#root {
  height: 100%;
}

/* input.form-control,
input::placeholder {
  font-size: small;
} */

.list-group-item {
  font-size: small;
}

.list-group-item:focus {
  outline: none;
}

.output {
  white-space: break-spaces;
  background-color: #2E3338;
  color: #17f126;
  padding: 2em;
  display: flex;
  flex: 1;
  overflow-y: auto;
}

Button#close {
  border-radius: 5px 5px 0 0;
}

span#close-text {
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 3px;
}