html {
  height: 100%;
}

body {
  background-color: #191c22;
}

.list-group-item {
  font-size: small;
}

.output {
  background-color: #252a31;
  color: #17f126;
  padding: 2em;
  display: flex;
  flex: 1;
}
